@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  padding: 0;
}

/* a {
  color: white;
} */

body {
  background-color: #0a2344;
  font-family: "rubik", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  margin: 0;
}

blockquote {
  background-color: rgb(216, 216, 216);
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}

hr {
  border-color: black;
  color: black;
  margin: 10px;
}

h1,
h2,
h3  {
  text-align: center;
}

ul {
  margin: 0;
}

.autors {
  position: absolute;
  right: 0px;
}

.accordion {
  background-color: white;
  color: black;
  max-width: 600px;
  margin: 90px auto;
  padding: 35px 35px;
  width: auto;
}

.accordion .container {
  margin: 10px 10px;
  position: relative;
  width: auto;
}

.accordion .container.active .content {
  height: auto;
  width: auto;
}

.accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 22px;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: "+";
  color: black;
  padding-right: 10px;
  position: absolut;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 14px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid gray;
}

.header {
  margin-top: -2px;
  width: 100%;
}

.socialmedia {
  position: relative;
  padding: 5px;
  width: 100%;
}

.socialmedia ul {
  list-style: none;
  text-align: center;
  display: block;
}

.socialmedia a {
  color: white;
  padding: auto;
  text-decoration: none;
}

.socialmedia img {
  border-radius: 100px;
  display: inline-block;
  width: 45px;
  padding: 10px;
}

.menu a {
  border-bottom: 1px solid rgb(65, 218, 218);
  display: block;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(180, 122, 122);
  text-decoration: none;
  color: white;
}

#rainbow1 {
  background-color: rgb(187, 187, 0);
}

#rainbow2 {
  background-color: rgb(206, 141, 0);
}

#rainbow3 {
  background-color: rgb(207, 65, 22);
}

#rainbow4 {
  background-color: rgb(52, 114, 196);
}

#rainbow5 {
  background-color: rgb(156, 59, 185);
}
